{#
/**
 *  Copyright (c) 2025 iepiep <r.minini@solution61.fr>
 *
 *  This source file is subject to the MIT license that is bundled
 *  with this source code in the file LICENSE.
 */
#}

{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-header-title">
                        {{ 'Appointment Details'|trans({}, 'Modules.Dimsymfony.Admin') }}
                    </h3>
                    <div class="toolbar-icons">
                        <a href="{{ path('admin_dimsymphony_gestionrdv_index') }}" class="btn btn-outline-secondary">
                            <i class="material-icons">arrow_back</i>
                            {{ 'Back to list'|trans({}, 'Modules.Dimsymfony.Admin') }}
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <h4>{{ 'Personal Information'|trans({}, 'Modules.Dimsymfony.Admin') }}</h4>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>{{ 'First Name'|trans({}, 'Modules.Dimsymfony.Admin') }}</th>
                                        <td>{{ appointment.firstname }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ 'Last Name'|trans({}, 'Modules.Dimsymfony.Admin') }}</th>
                                        <td>{{ appointment.lastname }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ 'Email'|trans({}, 'Modules.Dimsymfony.Admin') }}</th>
                                        <td>{{ appointment.email }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ 'Phone'|trans({}, 'Modules.Dimsymfony.Admin') }}</th>
                                        <td>{{ appointment.phone }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <h4>{{ 'Appointment Information'|trans({}, 'Modules.Dimsymfony.Admin') }}</h4>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>{{ 'First Slot'|trans({}, 'Modules.Dimsymfony.Admin') }}</th>
                                        <td>{{ appointment.date_creneau1 }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ 'Second Slot'|trans({}, 'Modules.Dimsymfony.Admin') }}</th>
                                        <td>{{ appointment.date_creneau2 }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ 'Status'|trans({}, 'Modules.Dimsymfony.Admin') }}</th>
                                        <td>
                                            {% if appointment.visited %}
                                                <span class="badge badge-success">{{ 'Visited'|trans({}, 'Modules.Dimsymfony.Admin') }}</span>
                                            {% else %}
                                                <span class="badge badge-warning">{{ 'Pending'|trans({}, 'Modules.Dimsymfony.Admin') }}</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>{{ 'Created At'|trans({}, 'Modules.Dimsymfony.Admin') }}</th>
                                        <td>{{ appointment.created_at }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    <div class="row mb-3">
                        <div class="col">
                            <h4>{{ 'Address Information'|trans({}, 'Modules.Dimsymfony.Admin') }}</h4>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>{{ 'Address'|trans({}, 'Modules.Dimsymfony.Admin') }}</th>
                                        <td>{{ appointment.address }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ 'Postal Code'|trans({}, 'Modules.Dimsymfony.Admin') }}</th>
                                        <td>{{ appointment.postal_code }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ 'City'|trans({}, 'Modules.Dimsymfony.Admin') }}</th>
                                        <td>{{ appointment.city }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col">
                            <div class="btn-group">
                                <a href="{{ path('admin_dimsymphony_gestionrdv_map', {'id': appointment.id_dim_rdv}) }}" class="btn btn-primary">
                                    <i class="material-icons">map</i>
                                    {{ 'View Map'|trans({}, 'Modules.Dimsymfony.Admin') }}
                                </a>
                                <form action="{{ path('admin_dimsymphony_gestionrdv_toggle_visited', {'id': appointment.id_dim_rdv}) }}" method="post" class="d-inline">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('toggle-visited-' ~ appointment.id_dim_rdv) }}">
                                    <button type="submit" class="btn btn-success">
                                        <i class="material-icons">{% if appointment.visited %}close{% else %}check{% endif %}</i>
                                        {% if appointment.visited %}
                                            {{ 'Mark as Pending'|trans({}, 'Modules.Dimsymfony.Admin') }}
                                        {% else %}
                                            {{ 'Mark as Visited'|trans({}, 'Modules.Dimsymfony.Admin') }}
                                        {% endif %}
                                    </button>
                                </form>
                                <form action="{{ path('admin_dimsymphony_gestionrdv_delete', {'id': appointment.id_dim_rdv}) }}" method="post" class="d-inline" onsubmit="return confirm('{{ 'Are you sure you want to delete this appointment?'|trans({}, 'Modules.Dimsymfony.Admin') }}')">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('delete-appointment-' ~ appointment.id_dim_rdv) }}">
                                    <button type="submit" class="btn btn-danger">
                                        <i class="material-icons">delete</i>
                                        {{ 'Delete'|trans({}, 'Modules.Dimsymfony.Admin') }}
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
