{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
    <div class="card">
        <h3 class="card-header">
            <i class="material-icons">settings</i> {{ 'Customer Information'|trans({}, 'Modules.Dimsymfony.Admin') }}
        </h3>
        <div class="card-body">
            {{ form_start(form) }}
                {{ form_row(form.customer_name) }}
                {{ form_row(form.destination) }}
                {{ form_row(form.travel_date) }}
                 <button type="submit" class="btn btn-primary">
                    {{ 'Save'|trans({}, 'Admin.Actions') }}
                </button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
